body{
    margin: 0;
    padding: 0;
    background-image: url('../images/redd-angelo-12845-edit2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.login-card{
    height: 400px;
    width: 450px;
    background: #fff;
    margin-top: 100px;
    padding-top: 50px;
    box-shadow: 0px 0px 15px #000;
    
}
.row{
    width: 100%;
    padding: 0% 10%;
}
.forname, .foremail{
    line-height: 1.5 !important;
}
@media (max-width: 512px) {
    .login-card{
        height: 300px;
        width: 350px;
        padding-top: 8%;
        margin-top: 25%;
    }
    
}
@media (max-width: 1824px) {
    login-card{
        font-size: 2em;
        height: 600px;
        width: 650px;
        margin-top: 25%;
        padding-top: 15%;
            
    }
}
